body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
    display: block;
}

#loading {
    position: absolute;
    top: 40%;
    color: #3de2ff;
    font-size: 5rem;
    width: 100%;
    text-align: center;
}

.welcome {
    position: absolute;
    bottom: 2%;
    width: 100%;
    color: white;
    text-align: center;
}
